<div class="justify-center items-center bg-blue-100 content-center w-screen">
  <div class="px-8 max-w-6xl mx-auto">
    <div class="flex justify-end text-base">
      ●<a href="https://www.aozora.gr.jp/">トップ</a>　●<a href="/" class="text-red-500 font-semibold">作業着手連絡システム</a>　●<span class="text-red-500 font-semibold">校正受付システム</span>
    </div>

    <h1 class="flex justify-center py-3 text-2xl font-semibold bg-yellow-100 border-t border-b border-gray-500">
      校正受付システム：受付完了
    </h1>

    <div class="border-2 border-gray-500 my-4 mx-8 p-4 bg-yellow-100 text-base">
      <ul class="my-2 mx-8 list-disc text-base">
        <li>校正にお申し込みいただき、ありがとうございました。</li>
        <li>折り返し、「受付完了のお知らせ」のメールをお送りします。</li>
        <li>お申し込みいただいた内容で作業を進めていただけることが決定したら、校正用ファイルを添えて、あらためて「校正のお願い」のメールをお送りします。</li>
        <li>「受付完了のお知らせ」メールが届かないとき、申し込み内容に誤りがあった場合などは、reception@aozora.gr.jpまでご連絡ください。</li>
      </ul>
    </div>

    <hr>

    <div>
      ●<a href="https://www.aozora.gr.jp/">トップ</a>
    </div>
