<h1>校正受付システム：受付完了</h1>

<div>
  <ul>
    <li>校正にお申し込みいただき、ありがとうございました。</li>
    <li>折り返し、「受付完了のお知らせ」のメールをお送りします。</li>
    <li>お申し込みいただいた内容で作業を進めていただけることが決定したら、校正用ファイルを添えて、あらためて「校正のお願い」のメールをお送りします。</li>
    <li>「受付完了のお知らせ」メールが届かないとき、申し込み内容に誤りがあった場合などは、reception@aozora.gr.jpまでご連絡ください。</li>
  </ul>
</div>

<hr>

<div>
  ●<a href="https://www.aozora.gr.jp/">トップ</a>
</div>
