<div class="w-full md:w-2/3">
  <snm-headline h="h1">底本／底本の親本更新</snm-headline>

<%= render 'form', original_book: @original_book %>

  <div class="mt-2 flex gap-2">
    <%= tag.snm_link "戻る", href: admin_work_path(@work), buttonstyle: 'secondary' %>
  </div>
</div>
