<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
<h1 class="text-2xl">底本／底本の親本追加</h1>

<p><%= @work.title %>に底本/底本の親本を追加します。</p>

<%= render 'form', original_book: @original_book %>

<%= link_to '戻る', admin_work_path(@work) %>
</div>
