<div class="w-full md:w-2/3">
  <snm-headline h="h1">底本／底本の親本追加</snm-headline>

  <p><%= @work.title %>に底本/底本の親本を追加します。</p>

  <%= render 'form', original_book: @original_book %>

  <div class="mt-2 flex gap-2">
    <%= snm_link "戻る", href: admin_work_path(@work), button_style: 'secondary' %>
  </div>
</div>
