<div class="justify-center items-center bg-blue-100 content-center w-screen">
<div class="px-8 max-w-6xl mx-auto">
  <a name="top">&nbsp;</a>

  <div class="flex justify-end text-base">
    ●<a href="https://www.aozora.gr.jp/">トップ</a>　●<span class="text-red-500 font-semibold">作業着手連絡システム</span>
  </div>

  <div class="flex justify-center bg-yellow-100 py-3 border-t-2 border-b-2 border-gray-400">
    <h1 class="text-3xl font-semibold">作業着手連絡システム</h1>
  </div>

  <div class="my-8 text-2xl font-medium py-3 bg-gray-200 border-t-2 border-b-2 border-gray-400">
    <h2>公共図書館利用制限等に伴う留意点</h2>
  </div>

  <p class="my-4 text-base">
    ただいま作業着手連絡システムおよび受付・点検チームは、公共図書館の利用制限等に伴い、一部活動の負担が大きくなっております。詳しくは、<a href="https://www.aozora.gr.jp/soramoyou/soramoyouindex.html">「そらもよう」</a>の7月7日付お知らせにありますが、作業着手連絡システムを用いるにあたって、以下の点にご留意ください。
  </p>

  <div class="border-2 border-gray-500 my-4 mx-12 p-4 bg-yellow-100 text-base">
    <b>制限期間</b>: 2020年7月7日 00:00 ～ 図書館利用が全面再開されるまでしばらくのあいだ <br />
    <b>影響範囲</b>: 作業着手連絡システム（reception.aozora.gr.jp）からの受付を、制限付きで再開します。受付メールアドレス（reception@aozora.gr.jp）からの対応も、同様に制限付きで再開します。

    <div class="my-2">
      <b>【制限に伴うお願い】</b>
      <ul class="my-4 mx-8 list-disc text-base">
        <li>複数の底本にわたる大量の入力・校正申請を控える</li>
        <li>入力申請の際、合わせて「底本の奥付・目次、および初出・親本・表題・原題・原綴りなどの書誌記載箇所を含む画像データ（PDFやスマホ写真等）」を reception@aozora.gr.jp に送付する</li>
        <li>入力ファイルを送付する際、上記データおよび「底本の本文を含む画像データ（PDF等）」も添付する</li>
        <li>校正の際も、底本画像のないものや点検前のものについては、申請・校了時に上記底本画像データ添付のご協力をお願いすることがある（自主的にご送付いただくのもOKです）</li>
        <li>底本画像がなく、底本の確保に時間のかかる場合や、申請が（作業中の累積も含んで）大量となる場合は、申請・送付順にかかわらず、確認までに数ヶ月ほどの時間を有することがある</li>
      </ul>
    </div>

  </div>
  <p class="text-base">
    たいへん恐縮ですが、安定的な運営の維持のため、何卒よろしくご協力ください。
  </p>

  <hr class="border-1 border-gray-500 my-4" />

  <div>
    <a href="/receipts/new">
      <b class="text-lg font-bold text-blue-700">入力受付システム</b>
    </a>
  </div>

<div class="border-2 border-gray-500 my-4 mx-12 p-4 bg-yellow-100 text-base">
  <ul class="my-2 mx-8 list-disc text-base">
    <li>入力希望作品の登録時には、入力者データ・著者データ・底本データ・作品データを記入します。</li>
    <li>底本（入力時に参照する本）の名称や発行日などが必要となりますので、あらかじめお手元に準備しておいてください。<br>（書籍の奥付や初出情報の掲載されているページをスマートフォンやデジタルカメラで撮影しておくと便利です。また入力完了してファイルをご送付される際、その画像があれば添えていただけると助かります）</li>
    <li>著者と底本が同一であれば、複数の作品をまとめて登録することができます。</li>
    <li>著者や底本が複数ある場合は、著者・底本ごとに、登録を繰り返してください。</li></ul>
</div>

<br>

<div>
  <a href="/proofreads">
    <b class="text-lg font-bold text-blue-700">校正受付システム</b>
  </a>
</div>

<div class="border-2 border-gray-500 my-4 mx-12 p-4 bg-yellow-100 text-base">
  <ul>
    <li>校正希望作品の登録時には、まず著者を選び、次に作品を選びます。</li>
    <li>校正に使う書籍・用紙は、基本的にご自身で準備してください。近隣の図書館のほか、国会図書館デジタルコレクション等一般に公開されているデータベースの利用も可能です。（現在、底本コピーおよびプリントアウトの送付は休止しております）</li>
    <li>校正に使う底本の版がわかる場合は、あらかじめ確認しておいてください。</li>
    <li>著者が同一であれば、複数の作品をまとめて登録することができます。</li>
    <li>著者が複数ある場合は、著者ごとに、登録を繰り返してください。</li>
  </ul>
</div>

<hr class="border-1 border-gray-500 my-4 py-4" />

  <div>
    <b class="text-lg font-bold">受付の確認やファイルの点検について</b>
  </div>

<div class="border-2 border-gray-500 my-4 mx-12 p-4 bg-yellow-100 text-base">
  <ul class="my-2 mx-8 list-disc text-base">
    <li>受付システムの確認も、ボランティアの手で行われています。著作権や底本のチェック、またはファイルの送付準備のため、確認・承認にしばらくかかることがありますので、気長にお待ちください。<br>
      （「受付完了のお知らせ」など自動返信メールの到着から4週間を過ぎても、「入力・校正のお願い」のメールが届かなかった場合には、reception@aozora.gr.jp にお問い合わせください）</li>
    <li>入力ファイル受領時、校正ファイル送付時の「点検作業」は、少数の点検チーム（ボランティア）によって担われています。作業待ちのタスクが重なっている場合、返信や送付・確認にしばらく時間がかかることがあります。こちらも気長にお待ちください。</li>
    <li>受付や点検のボランティアにご関心がある工作員（耕作員）の方は、作業のなかで一言その旨を書き添えて頂けると幸いです。（また受付や点検よりも気軽な、公開前の素読みというボランティア作業についても募集中です。ご興味ある方はご一報を。）</li>
  </ul>
</div>

<hr class="border-1 border-gray-500 my-4 py-4" />

  <div>
    <b class="text-lg font-bold">はじめての方へ</b>
  </div>

<div class="border-2 border-gray-500 my-4 mx-12 p-4 bg-yellow-100 text-base">
  <ul class="my-2 mx-8 list-disc text-base">
    <li>まず、「<a href="https://www.aozora.gr.jp/guide/kousakuin.html" target="_blank">耕作員を志願される皆さんへ</a>」に目を通してください。<br>
      ここに示された約束事を、受け入れられると思われた方は、reception@aozora.gr.jp宛に、以下のような内容のメールを送ってください。</li>
    <blockquote class="mx-8 my-6">
      タイトル：同意します。<br>
      文面：「耕作員を志願される皆さんへ」に示された文書に目を通しました。そこに示された、作業の進め方、ファイルの取り扱いなどに関する約束事に、同意します。（署名）<br>
    </blockquote>
	（署名）の部分には、必ず<span class="text-red-500">「工作員（耕作員）として使う名前」</span>を書いてください。あとで申し込みをするときも、この名前を使います。これには、本名を用いていただいても、仮名・ハンドルネームでも、かまいません。<br>
	メールを送付したら、続いて「入力受付システム」「校正受付システム」に進んで、作業を申し込んでください。<br>

    <span class="text-red-500">受け入れられない</span>と思われた方は、<span class="text-red-500">申し込まない</span>でください。<br>
    <br>
	※「同意します」のメールに、必ず青空文庫から返信があるわけではありません。入力または校正の申し込み準備が整った段階でメールをお送りいただき、すぐに申し込みを行うことをおすすめします。<br>
    <br>

    <li>作業に協力してくださる方は、工作員（耕作員）として登録します。<br>
      はじめての方には、「入力受付システム」「校正受付システム」を用いた申し込みの過程で、<b>お名前</b>と<b>電子メールのアドレス</b>を記入していただきます。<br>
      ここでは、「同意します」のメールに書いていただいた名前を記入してください。<br>
      このステップで書き込んでいただいた名前が、工作員名として登録されます。<br>
      工作員名は、図書カードや作品一覧などに記載されます。<br>
      工作員（耕作員）としての登録が完了すると、工作員IDが割り振られます。<br>
      （登録されたお名前・メールアドレスなどの個人情報は、青空文庫の活動・運営に関する範囲でのみ使用されます）</li>
    <br>
	<li>はじめて作業していただく際には、「同意します」のメールと、入力または校正の申し込みの、両方がそろった時点で、受付が完了します。２つのステップへのご協力を、お願いいたします。</li>
  </ul>
</div>

<div>
  <b class="text-lg font-bold">※操作・送信がうまくいかないときは</b>
</div>

<div class="border-2 border-gray-500 my-4 mx-12 p-4 bg-yellow-100 text-base">
  <ul class="my-2 mx-8 list-disc text-base">
    <li>ブラウザの種類やバージョンなどにより、表示が乱れたり、ボタン類がうまく動かなかったりする場合があります。<br>
	  操作がうまくいかないときは、reception@aozora.gr.jp まで、メールでご連絡ください。</li>
    <li>特定のドメインから、reception@aozora.gr.jp 宛にメールを送信した場合、迷惑アドレス判定されてしまうことがあります。その場合は、送信元を変えて再度お送り願えると幸いです。</li>
  </ul>
</div>

<div>
  <b class="text-lg font-bold">※メールアドレスが変わったときは</b>
</div>

<div class="border-2 border-gray-500 my-4 mx-12 p-4 bg-yellow-100 text-base">
  <ul class="my-2 mx-8 list-disc text-base">
    <li>工作員（耕作員）として登録した後、メールアドレスが変わった時は、reception@aozora.gr.jp まで、メールでご連絡ください。青空文庫の受付で、メールアドレスを登録しなおします。メールアドレスが変わっても、IDには変更はありません。</li>
    <li>青空文庫でのボランティアを長期のブランクをおいて再開される際、メールアドレスの変更届をお忘れになるケースが時々ございます。よろしくご確認ください。</li>
  </ul>
</div>

<hr class="border-1 border-gray-500 my-4 py-2" />

<div>
  ●<a href="https://www.aozora.gr.jp/" class="text-base">トップ</a>
</div>
</div>
</div>
