<div class="w-full md:w-2/3">
  <%= snm_headline h: 'h1' do %>工作員の更新<% end %>
  <%= render 'form', worker: @worker %>
  <div class="mt-5 flex">
    <%= snm_link '戻る', href: admin_worker_path(@worker), button_style: "secondary" %>
  </div>
</div>
