<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
  <h1>工作員の更新</h1>
  <%= render 'form', worker: @worker %>
  <%= link_to '表示', [:admin, @worker] %> |
  <%= link_to '戻る', admin_workers_path %>
</div>
