<div class="w-full md:w-2/3">
  <%= snm_headline h: 'h1' do %>耕作員新規登録<% end %>
  <%= render 'form', worker: @worker %>
  <div class="mt-5 flex">
    <%= snm_link '戻る', href: admin_workers_path, button_style: "secondary" %>
  </div>
</div>
