<div class="justify-center items-center bg-blue-100 content-center w-screen">
<div class="px-8 max-w-6xl mx-auto">
  <a name="top">&nbsp;</a>

  <div class="flex justify-end text-base">
    ●<a href="https://www.aozora.gr.jp/">トップ</a>　●<span class="text-red-500 font-semibold">作業着手連絡システム</span>
  </div>

  <div class="flex justify-center bg-yellow-100 py-3 border-t-2 border-b-2 border-gray-400">
    <h1 class="text-3xl font-semibold">校正受付システム：作業中作家インデックス</h1>
  </div>

  <hr>
  <form method="GET" action="/proofreads/people" data-turbo="false">
    <%= render(::SyllabaryTableComponent.new(key: "people")) %>
    <input type="submit" name="people" value="その他">
  </form>
</div>  
