<div class="w-full md:w-2/3">
  <%= snm_headline h: 'h1' do %>ファイルの送付<% end %>

<%= render 'form',
           proofread: @proofread,
           work: @work,
           worker: @worker,
           worker_secret: @worker_secret,
           order_form: @order_form %>
</div>
