<div class="w-full md:w-2/3">
  <snm-headline h="h1">ファイルの送付</snm-headline>

<%= render 'form',
           proofread: @proofread,
           work: @work,
           worker: @worker,
           worker_secret: @worker_secret,
           order_form: @order_form %>
</div>
