<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
<h1 class="text-2xl py-4">ファイルの送付</h1>

<%= render 'form',
           proofread: @proofread,
           work: @work,
           worker: @worker,
           worker_secret: @worker_secret,
           order_form: @order_form %>
</div>
