<div class="justify-center items-center bg-blue-50 content-center w-screen h-screen">
  <div class="px-8 max-w-6xl mx-auto">
    <a name="top">&nbsp;</a>
    <div class="flex justify-end text-base">
      ●<a href="https://www.aozora.gr.jp/" class="link-normal">トップ</a>　●<a href="/" class="link-normal">作業着手連絡システム</a>　●<span class="text-red-500 font-semibold">入力受付システム</span>
    </div>
    <div class="flex justify-center bg-yellow-100 py-3 border-t-2 border-b-2 border-gray-400">
      <h1 class="text-3xl font-semibold">入力受付システム：受付完了</h1>
    </div>
    <div class="border-2 border-gray-500 my-4 mx-12 p-4 bg-yellow-100 text-base">
      <ul class="my-2 mx-8 list-disc text-base">
        <li>入力をお申し込みいただき、ありがとうございました。</li>
        <li>折り返し、「受付完了のお知らせ」のメールをお送りします。</li>
        <li>お申し込みいただいた内容で作業を進めていただけることが決定したら、あらためて「入力のお願い」のメールをお送りします。</li>
        <li>「受付完了のお知らせ」のメールが届かないとき、申し込み内容に誤りがあった場合などは、reception@aozora.gr.jpまでご連絡ください。</li>
      </ul>
    </div>
  </div>
</div>
</div>
