<div class="w-full md:w-2/3">
  <snm-headline h="h1">管理者更新</snm-headline>
  <%= render 'form', user: @user %>
  <div class="flex">
    <%= snm_link "戻る", href: admin_users_others_path, button_style: "secondary" %>
  </div>

  <snm-headline h="h1">管理者削除</snm-headline>

  <p>管理者を削除します。この操作は戻せません。</p>

  <div class="flex mt-5">
    <%= render(Admin::DeleteButtonComponent.new(url: admin_users_other_path(@user))) %>
  </div>

</div>
