<%= form_with(model: [:admin, typesetting], data: { turbo: false }) do |form| %>
<%= form.file_field :textfile, class: "text-gray-600 w-full border border-ab_form focus:outline-none focus:border-ab_focus focus:ring-1 focus:ring-ab_focus focus:shadow-[0px_1px_13px_0px_#bee3f8] invalid:border-pink-500 invalid:text-pink-600 rounded outline-none transition duration-100 px-2 py-2" %>
<%= render(Admin::SnmTextFieldComponent.new(form:, name: :comment, errors: typesetting.errors)) %>

<div class="mt-2 flex">
  <%= render(Admin::SubmitComponent.new(form:, name: 'commit', value: "変換する")) %>
</div>
<% end %>
