<div class="w-full md:w-2/3">
  <%= snm_headline h: 'h1' do %>組版実行<% end %>
  <%= render 'form', typesetting: @typesetting %>

  <div class="mt-5 flex">
    <%= snm_link '戻る', href: admin_typesettings_path, button_style: "secondary" %>
  </div>
</div>
