<div class="w-full md:w-2/3">
  <snm-headline h="h1">関連サイト関連づけ登録</snm-headline>

  <div class="mt-2 flex">
    <p>対象作品: <%= @work.title %></p>
  </div>

  <%= render(Admin::SiteSearchComponent.new(form_url: admin_work_work_sites_text_searches_path(work_id: @work.id))) %>

  <div class="mt-2 flex gap-2">
    <%= tag.snm_link "戻る", href: admin_work_path(id: @work.id), buttonstyle: 'secondary' %>
  </div>
</div>
