         <tr>
            <td><%= @name %></td>
            <td>
              <%= @model.public_send(@attribute) %>
              <%= @form.hidden_field @attribute %>
            </td>
          </tr>
