<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">

  <h1>ID一覧インデックス</h1>

  <div class="flex">

  <table>
    <tr>
      <th colspan="5">人物ID一覧</th>
    </tr>
    <% Person::PERSON_ID_TABLE.each do |person_row| %>
    <tr>
      <% person_row.each do |person_col| %>
      <td><%= person_col ? link_to(person_col, idlists_people_path(key:person_col)) : '' %></td>
      <% end %>
    </tr>
    <% end %>
  </table>

  <table>
    <tr>
      <th colspan="5">工作員ID一覧</th>
    </tr>
    <% Worker::PERSON_ID_TABLE.each do |worker_row| %>
    <tr>
      <% worker_row.each do |worker_col| %>
      <td><%= worker_col ? link_to(worker_col, idlists_workers_path(key:worker_col)) : '' %></td>
      <% end %>
    </tr>
    <% end %>
  </table>

  </div>
</div>
