<div class="w-full">
  <snm-headline h="h1">そらもよう編集室</snm-headline>

  <div class="flex">
    <%= snm_link "新しい記事を追加", href: new_admin_news_entry_path %>
  </div>

  <div class="flex flex-col gap-5 mb-5">
    <%= render(Admin::NewsEntriesTableComponent.new(news_entries: @news_entries, pagy: @pagy)) %>
  </div>
</div>
