<div class="w-full md:w-2/3">
  <snm-headline h="h1"><%= Rails.configuration.x.site_name %> DB</snm-headline>
  <p>
    top page
  </p>

  <p>
    （ここはいわゆるダッシュボード画面です。何を表示するかは未定のため、ご相談させてください。）
  </p>
</div>
