<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
  <h1><%= Rails.configuration.x.site_name %> DB</h1>
  <p>
    top page
  </p>

  <p>
    （ここはいわゆるダッシュボード画面です。何を表示するかは未定のため、ご相談させてください。）
  </p>
</div>
