<div class="font-sans m-0 antialiased leading-none">
<%= render "admin/shared/navi" %>
  <div class="container mx-auto">
    <div class="flex w-full min-w-full rounded-sm mt-4">
      <%= render "admin/shared/aside" %>
      <!-- CONTENT -->
      <div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
        <h1>aozora bunko</h1>
        <p>
          青空文庫
        </p>
      </div>
      <!-- END MAIN CONTENT -->
    </div>
  </div>
</div>
