<div class="w-full md:w-2/3">
  <snm-headline h="h1">ファイル更新</snm-headline>

  <%= render 'form', workfile: @workfile %>

  <div class="mt-2 flex gap-2">
    <%= snm_link "戻る", href: admin_work_path(@workfile.work), button_style: 'secondary' %>
  </div>
</div>
