<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
  <h1 class="text-2xl">ファイル更新</h1>

  <%= render 'form', workfile: @workfile %>

  <div class="py-2">
  <%= link_to '戻る', admin_work_path(@workfile.work), class: "btn-normal" %>
  </div>
</div>

