  <h2 class="flex justify-center my-4 py-1 px-5 text-lg font-semibold bg-gray-300 border border-y-gray-500"><a name="public_list">メインエリア</a></h2>

  <table class="border-double border-2 border-gray-800 table-fixed items-center w-full" summary="">
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="/guide/aozora_bunko_hayawakari.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          青空文庫早わかり
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫の使い方と約束事を紹介しています。初めての方、ファイルやキャプチャーの取り扱いについて知りたい方も、こちらへどうぞ。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 text-left align-top font-normal p-1">
        <a href="/index_pages/index_top.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          総合インデックス
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        作家名、作品名の50音別に、公開作品と入力・校正作業中の作品を一覧できるインデックスです。公開中の作品を探すときは、下の近道もご利用ください。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 text-right align-top font-normal p-1">
        公開中　作家別：
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        <a href="/index_pages/person_a.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">あ行</a>
        <a href="/index_pages/person_ka.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">か行</a>
        <a href="/index_pages/person_sa.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">さ行</a>
        <a href="/index_pages/person_ta.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">た行</a>
        <a href="/index_pages/person_na.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">な行</a>
        <a href="/index_pages/person_ha.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">は行</a>
        <br>
        <a href="/index_pages/person_ma.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ま行</a>
        <a href="/index_pages/person_ya.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">や行</a>
        <a href="/index_pages/person_ra.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ら行</a>
        <a href="/index_pages/person_wa.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">わ行</a>
        <a href="/index_pages/person_zz.html" class="mx-2 text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">他</a>
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-right align-top font-normal p-1">
        公開中　作品別：
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">

        <table summary="作品リスト" class="w-full">
          <tr>
            <td class="text-center"><a href="index_pages/sakuhin_a1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">あ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ka1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">か</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_sa1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">さ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ta1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">た</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_na1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">な</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ha1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">は</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ma1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ま</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ya1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">や</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ra1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ら</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_wa1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">わ</a></td>
          </tr>
          <tr>
            <td class="text-center"><a href="index_pages/sakuhin_i1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">い</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ki1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">き</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_si1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">し</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ti1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ち</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ni1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">に</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_hi1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ひ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_mi1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">み</a></td>
            <td>&nbsp;</td>
            <td class="text-center"><a href="index_pages/sakuhin_ri1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">り</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_wo1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">を</a></td>
          </tr>
          <tr>
            <td class="text-center"><a href="index_pages/sakuhin_u1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">う</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ku1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">く</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_su1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">す</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_tu1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">つ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_nu1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ぬ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_hu1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ふ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_mu1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">む</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_yu1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ゆ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ru1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">る</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_nn1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ん</a></td>
          </tr>
          <tr>
            <td class="text-center"><a href="index_pages/sakuhin_e1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">え</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ke1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">け</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_se1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">せ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_te1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">て</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ne1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ね</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_he1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">へ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_me1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">め</a></td>
            <td>&nbsp;</td>
            <td class="text-center"><a href="index_pages/sakuhin_re1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">れ</a></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="text-center"><a href="index_pages/sakuhin_o1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">お</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ko1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">こ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_so1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">そ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_to1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">と</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_no1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">の</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ho1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ほ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_mo1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">も</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_yo1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">よ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_ro1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">ろ</a></td>
            <td class="text-center"><a href="index_pages/sakuhin_zz1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">他</a></td>
          </tr>
        </table>

      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 text-right align-top font-normal p-1">
        作業中：
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        <a href="/index_pages/index_top.html#work_list" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          作家別・作品別
        </a>
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://yozora.main.jp/" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline">
          青空文庫　分野別リスト
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        分野別に公開作品を一覧できる、インデックスです。
      </td>
    </tr>
  </table>
