  <h2 class="flex justify-center mt-4 py-1 px-5 text-lg font-semibold bg-gray-300 border border-y-gray-500"><a name="documents">資料室</a></h2>

  <table class="border-double border-2 border-gray-800 table-fixed items-center w-full" summary="">
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/aozora-manual/" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          青空文庫作業マニュアル
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        入力・校正作業の手引きと、著作権に対する方針が記されています。作業前に必ずお目通しを。
      </td>
    </tr>

    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/annotation/" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          注記一覧
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        テキスト版の注記の書き方をまとめています。作業時の友に。
      </td>
    </tr>

    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/guide/techo.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          耕作員手帳
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        作業時に役立つマニュアルやツール類をまとめたリンク集です。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/guide/aozora_bunko_faq.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          青空文庫ＦＡＱ
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫についてよくある質問集です。困ったことがあればまずご参照を。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/index_pages/index_all.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          登録全作家インデックス
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        登録されているすべての作家について、作品の登録状況、進行状況を確認できます。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/siryo1.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          著作権が消滅した作家
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫への登録が可能な作家のリストです。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/access_ranking/" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          アクセスランキング
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        XHTML版、テキスト版の、月間500位を示します。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/readingTEXT/index.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          青空文庫のXHTML, TEXTの読み方
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫のファイルを読む方法をご紹介しています。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/guide/kijyunn.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          収録ファイルの取り扱い規準
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        ファイル利用をお考えの方は、まずこちらをご一読ください。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/guide/shuuroku.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          作品収録を望まれる方へ
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫への作品収録の方針・手順を示しています。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        <a href="https://www.aozora.gr.jp/guide/roudoku.html" class="text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline font-normal">
          朗読配信をお考えの皆様へ
        </a>
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        青空文庫を朗読配信する際の注意点がまとめられています。
      </td>
    </tr>
    <tr class="border-double border-2 border-gray-800 text-center">
      <th class="border-double border-2 border-gray-800 bg-yellow-100 w-1/3 whitespace-nowrap text-left align-top font-normal p-1">
        歩みの記録
      </th>
      <td class="border-double border-2 border-gray-800 bg-sky-50 w-2/3 text-left align-top p-1">
        これまでに公開したそらもようから、一里塚となるような、重要な話題をピックアップしました。
        <ul class="m-2">
          <%- topics.first(10).each do |news_entry| -%>
          <li class="my-1"><%= news_entry.published_on %> <%= link_to news_entry.title,
                                                                      soramoyou_year_path(news_entry.published_on.year, anchor: news_entry.id),
                                                                      class: "text-blue-700 hover:text-gray-100 hover:bg-blue-700 visited:text-purple-600 underline" %></li>
          <%- end -%>
        </ul>
      </td>
    </tr>
  </table>
