  <%= form_with(url: form_url, method: 'get', data: { turbo: false }) do |form| %>
  <table>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "関連サイト名", name: "name")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "関連サイトURL", name: "url")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "関連サイト運営者名", name: "owner_name")) %>
  </table>
    <input type="submit" name="text" value="検索" class="btn-normal">
  <% end %>
