<table class="w-full text-left text-sm lg:text-base border borger-ab_gray">
  <tbody>
  <% @rows.each do |cols| %>
  <tr class="h-8 odd:bg-[#f8fafc]">
    <th class="pl-5 w-[20%] whitespace-nowrap">
      <%= cols[0] %>
    </th>
    <td class="py-0 px-5 break-all">
      <% if cols[2] && cols[2][:no_escape] %>
      <%== cols[1] %>
      <% else %>
      <%= cols[1] %>
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
