      <div>
        <%= link_to admin_path, class: "inline-flex items-center text-black-800 text-lg font-bold gap-2.5" do %>
          <img src="<%= src %>/" height="50" width="50"><span class="hidden sm:block"><%= label %></span>
        <% end %>
      </div>
