<div class="mb-2">
  <% if label.present? %>
  <%= form.label name, label, class: "inline-block text-sm" %><br>
  <% end %>
  <%= form.text_area name, rows:, class: "w-full border border-ab_form focus:outline-none focus:border-ab_focus focus:ring-1 focus:ring-ab_focus focus:shadow-[0px_1px_13px_0px_#bee3f8] invalid:border-pink-500 invalid:text-pink-600 rounded outline-none transition duration-100 px-2 py-2" %>
  <% if errors[error_key].any? %>
  <%= tag.div errors.full_messages_for(error_key).join(', '), class: "text-sm text-red-500 required:block" %>
  <% end %>
</div>
