<table class="flex gap-3">
  <% Admin::SyllabaryTableComponent::TABLES.each do |table| %>
  <tbody>
  <% table.each do |row| %>
  <tr class="flex gap-1">
    <% row.each do |cell| %>
    <td>
      <% if cell %>
      <div class="mb-2">
        <input type="submit" name="<%= @key %>" value="<%= cell %>" class="w-full border text-sm hover:bg-[#D9E8FF] border-ab_form focus:outline-none focus:border-ab_focus focus:ring-1 focus:ring-ab_focus focus:shadow-[0px_1px_13px_0px_#bee3f8] rounded outline-none transition duration-100 px-2 py-1 cursor-pointer">
      </div>
      <% else %>
      <div class="mb-2">&nbsp;</div>
      <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
<% end %>
</table>
