<tr>
  <td>
    <%= @form.label @name, "#{@label}:" %>
  </td>
  <td>
    <%= text_field_tag @name, @value, autocomplete: :on %>
  </td>
  <td>
    <%= @form.select "text_selector_#{@name}", TextSearcher::TEXT_SELECTOR, { include_blank: false } %>
  </td>
</tr>
