<div class="mb-2 flex flex-col">
  <%= @form.select :year, @years, {}, { class: select_form_class } %>
</div>
<div class="mb-2 flex flex-col">
  <%= @form.collection_select :status, WorkStatus.all, :id, :name, {}, { class: select_form_class } %>
</div>
<%= render(Admin::SubmitComponent.new(form: @form, name: "text", value: "検索")) %>
