<table class="table-auto w-full text-sm lg:text-base border borger-ab_gray">
  <thead class="text-center bg-[#f8fafc]">
    <tr class="h-10 even:bg-[#f8fafc]">
      <% @header.each do |head_col| %>
      <th class="whitespace-nowrap px-5"><%= head_col %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @body.each do |body_cols| %>
    <tr class="h-10 even:bg-[#f8fafc]">
      <% body_cols.each_with_index do |body_col, idx| %>
      <% if idx == 3 or idx == 4 %>
        <td class="text-center py-3 px-5 whitespace-nowrap"><%= body_col %></td>
      <% else %>
        <td class="text-center py-3 px-5"><%= body_col %></td>
      <% end %>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_snm_nav(@pagy) %>
