  <%= form_with(url: form_url, method: 'get', data: { turbo: false } ) do |form| %>
  <table>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "姓名読み", name: "name_kana")) %>
    <%= render(Admin::TextSearchInputComponent.new(form: form, label: "姓名", name: "name")) %>
  </table>
  <div class="py-2">
    <input type="submit" name="text" value="検索" class="btn-normal">
  </div>
  <% end %>
