<%= render LayoutComponent.new(title: '青空文庫', bgcolor: 'bg-white-100') do -%>
<div id="app" class="container mx-auto max-w-6xl py-2">
  <div id="top" class="flex">
    <img src="/images/top_logo.png" class="p-1 bg-[#000063]">
    <div class="flex flex-col w-full">
      <div class="flex justify-end h-10 py-2 bg-[#000063] text-white border-y border-y-gray-500 w-full">
        <div class="px-2"><a href="#main" class="hover:text-gray-900 hover:bg-gray-100 underline">メイン</a></div>
        <div class="px-2"><a href="#information" class="hover:text-gray-900 hover:bg-gray-100 underline">お知らせ</a></div>
        <div class="px-2"><a href="#sub" class="hover:text-gray-900 hover:bg-gray-100 underline">別館</a></div>
        <div class="px-2"><a href="#documents" class="hover:text-gray-900 hover:bg-gray-100 underline">資料</a></div>
        <div class="px-2"><a href="#manage" class="hover:text-gray-900 hover:bg-gray-100 underline">運営</a></div>
      </div>
      <div class="flex w-full">
        <div>
          <a href="shiryo_pdlocked.html" class="hover:underline">
            <img src="https://www.aozora.gr.jp/banner/pd-locked-mini.png" width="230" height="50" alt="著作権保護期間延長" class="mx-16">
          </a>
        </div>
        <div class="w-full">
          <script type="text/javascript"><!--
            function se(nm){
              const uu = new Array(
                "", /* 0 */
                "http://www.google.co.jp/search?hl=ja&num=20&q=", /* 1 */
                "http://www.bing.com/search?q=", /* 2 */
                "http://search.naver.jp/search?&q=", /* 3 */
                "http://www.baidu.jp/s?rn=20&wd=", /* 4 */
                "http://search.goo.ne.jp/web.jsp?IE=UTF-8&MT=", /* 5 */
                "http://search.yahoo.co.jp/search?p=" /* 6 */
              )
              const dkey=document.forms[0].as_q.value;
              if(dkey!=""){const url=uu[nm]+"site:www.aozora.gr.jp+"+encodeURIComponent(dkey);window.open(url,'_blank');}
            }
            //-->
          </script>
          <form method="get" action="https://www.google.com/search" name="f" target="_blank" class="text-right">
            www.aozora.gr.jp 内を検索
            <input type="hidden" name="hl" value="ja">
            <input type="hidden" name="lr" value="lang_ja">
            <input type="hidden" name="ie" value="utf-8">
            <input type="hidden" name="num" value="20">
            <input type="hidden" name="complete" value="0">
            <input type="hidden" name="as_dt" value="i">
            <input type="hidden" name="as_sitesearch" value="www.aozora.gr.jp">
            <input type="text" name="as_q" value="" autocomplete="on" size="25" class="rounded text-sm h-6 mt-1">
            <br>
            <input type="submit" value="Google" class="my-1 rounded bg-gray-200 hover:bg-gray-300 border border-slate-500 text-sm w-16 h-6">
            <!--<input type="button" onclick="se(1)" value="Google">-->
            <input type="button" onclick="se(2)" value="bing" class="my-1 rounded bg-gray-200 hover:bg-gray-300 border border-slate-500 text-sm w-16 h-6">
            <!--<input type="button" onclick="se(3)" value="Naver">-->
            <!--<input type="button" onclick="se(4)" value="Baidu">-->
            <input type="button" onclick="se(5)" value="goo" class="my-1 rounded bg-gray-200 hover:bg-gray-300 border border-slate-500 text-sm w-16 h-6">
            <!--<input type="button" onclick="se(6)" value="Yahoo!">-->
          </form>
        </div>
      </div>
    </div>
  </div>
  <%== render_editable_content %>
</div>
<!-- generated at: <%= Time.zone.now %> -->
<%- end -%>
