<p><%= @resource.email %>様</p>

<p>パスワード変更のリクエストをいただきました。以下のURLをクリックするとパスワードの変更が完了します。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心あたりのない場合、上記リンクはクリックせずに、このメールを無視してください。</p>
<p>リンクをクリックするまではパスワードは変更されません。</p>
