<div class="w-full md:w-2/3">
  <%= snm_headline h: 'h1' do %>関連サイト関連づけ登録<% end %>

  <div class="mt-5 flex">
    <p>対象人物: <%= @person.name %></p>
  </div>

  <%= render(Admin::SiteSearchComponent.new(form_url: admin_person_person_sites_text_searches_path(person_id: @person.id))) %>

  <div class="mt-5 flex">
    <%= link_to '戻る', admin_person_path(id: @person.id), class: 'btn-normal' %>
  </div>
</div>
