<div class="w-full md:w-2/3">
  <snm-headline h="h1">作品更新</snm-headline>
  <%= render 'form', work: @work %>
  <div class="mt-5 flex">
    <%= tag.snm_link '戻る', href: admin_work_path(@work), buttonstyle: "secondary" %>
  </div>
</div>
