<div class="w-full md:w-2/3">
  <%= snm_headline h: 'h1' do %>作品更新<% end %>
  <%= render 'form', work: @work %>
  <div class="mt-5 flex">
    <%= snm_link '戻る', href: admin_work_path(@work), button_style: "secondary" %>
  </div>
</div>
