<div class="w-full md:w-2/3">
  <snm-headline h="h1">作品新規登録</snm-headline>
  <%= render 'form', work: @work %>
  <div class="mt-5 flex">
    <%= snm_link '戻る', href: admin_works_path, button_style: "secondary" %>
  </div>
</div>
