<div class="w-full md:w-2/3">
  <%= snm_headline h: 'h1' do %>関連サイト検索結果一覧<% end %>
  <%= render(Admin::SitesTableComponent.new(sites: @sites)) %>

  <div class="mt-10 mb-5">
    <%= snm_link '関連サイト新規登録', href: new_admin_site_path %>
  </div>
</div>
