<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
<h1 class="text-2xl">別名人物一覧</h1>

<table class="w-full">
  <thead>
    <tr>
      <th class="text-left">名前</th>
      <th class="text-left">他の名前</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @base_people.each do |base_person| %>
      <tr>
        <td><%= base_person.person.name %></td>
        <td><%= base_person.original_person.name %></td>
        <td><%= link_to '変更', edit_admin_base_person_path(base_person) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規追加', new_admin_base_person_path %>
