<div class="w-full">
  <snm-headline h="h2">人物関連づけ登録</snm-headline>

  <div class="py-2">
    <p>対象人物: <%= @person.name %></p>
  </div>

  <%= render(Admin::PersonSearchComponent.new(form_url: admin_person_base_people_text_searches_path(person_id: @person.id))) %>

  <div class="mt-2 flex gap-2">
    <%= tag.snm_link '戻る', href: admin_person_path(@person), buttonstyle: "secondary" %>
  </div>
</div>
