<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @base_person.person_id %>
</p>

<%= link_to 'Edit', edit_base_person_path(@base_person) %> |
<%= link_to 'Back', base_people_path %>
