<div class="w-full md:w-2/3">
  <%= snm_headline h: 'h1' do %>コマンド実行<% end %>

  <% if @error_exec_command %>
  <div id="error_explanation">
    <h2>コマンド実行エラー</h2>
    <ul>
    <% @error_exec_command.error_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= render 'form', exec_command: @exec_command %>

  <% if @last_exec_command&.result_data&.attached? %>
    link: <%= link_to 'download', @last_exec_command.result_data %>
  <% end %>
</div>
