<div class="w-full md:w-2/3">
  <%= snm_headline h: 'h1' do %>人物更新<% end %>

  <%= render(Admin::PersonFormComponent.new(person: @person)) %>

  <div class="mt-5 flex">
    <%= snm_link '戻る', href: admin_person_path(@person), button_style: "secondary" %>
  </div>
</div>
