<div class="w-full md:w-2/3">
  <snm-headline h="h1">人物一覧</snm-headline>

  <div class="mt-10">
    <!--人物検索 start-->
    <snm-headline h="h2">人物検索</snm-headline>

    <%= render(Admin::PersonSearchComponent.new(form_url: admin_people_text_searches_path)) %>
    <!--人物検索 start-->
  </div>
</div>

<!--人物一覧 start-->
<div class="mt-10 mb-5">
  <snm-headline h="h2">人物一覧</snm-headline>
  <%= render(Admin::SnmTableComponent.new(
      header: %w(人物ID 姓名 読み 著作権 他の名前),
      body: @people.map do |person|
      [
      person.id,
      link_to(person.name, admin_person_path(person), class: 'underline'),
      person.name_kana,
      person.copyright_text,
      person.other_people.map{ |other_person| "→#{link_to(other_person.name, admin_person_path(other_person), class: 'underline')}" }.join(' ').html_safe
      ]
      end
      )) %>

  <%== pagy_nav(@pagy) %>
</div>

<!--人物一覧 end-->

<div class="mt-5 flex">
  <snm-link label="新規人物登録" href="<%= new_admin_person_path %>"></snm-link>
</div>
