<div class="w-full md:w-2/3">
  <snm-headline h="h1">人物一覧</snm-headline>

  <div class="mt-10">
    <!--人物検索 start-->
    <snm-headline h="h2">人物検索</snm-headline>

    <%= render(Admin::PersonSearchComponent.new(form_url: admin_people_text_searches_path)) %>
    <!--人物検索 start-->
  </div>
</div>

<!--人物一覧 start-->
<div class="mt-10 mb-5">
  <snm-headline h="h2">人物一覧</snm-headline>
  <%= render(Admin::PeopleTableComponent.new(people: @people)) %>
  <%== pagy_snm_nav(@pagy) %>
</div>

<!--人物一覧 end-->

<div class="mt-5 flex">
  <%= tag.snm_link "新規人物登録", href: new_admin_person_path %>
</div>
