<div class="w-full md:w-2/3">
  <snm-headline h="h1">人物新規登録</snm-headline>
  <%= render(Admin::PersonFormComponent.new(person: @person)) %>
  <div class="mt-5 flex">
    <%= tag.snm_link '戻る', href: admin_people_path, buttonstyle: "secondary" %>
  </div>
</div>
