<div class="p-4 w-full bg-white ml-4 font-light mb-5 rounded">
  <h1 class="text-2xl">人物新規登録</h1>
  <%= render(Admin::PersonFormComponent.new(person: @person)) %>
  <%= link_to '戻る', admin_people_path %>
</div>
