<div class="w-full md:w-2/3">
  <%= snm_headline h: 'h1' do %>人物新規登録<% end %>
  <%= render(Admin::PersonFormComponent.new(person: @person)) %>
  <div class="mt-5 flex">
    <%= snm_link '戻る', href: admin_people_path, button_style: "secondary" %>
  </div>
</div>
