<h1>人物一覧</h1>
<p><%= @pagy.count %>件の人物が見つかりました</p>

<table>
  <thead>
    <th>人物ID</th>
    <th>姓名</th>
  </thead>
  <tbody>
    <% @people.each do |person| %>
    <tr>
      <td><%= person.id %></td>
      <td><%= person.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%== pagy_nav(@pagy) %>
