<div class="w-full md:w-2/3">
  <%= snm_headline h: 'h1' do %>人物関連づけ登録<% end %>

  <div class="mt-2 flex">
    <p>対象作品: <%= @work.title %></p>
  </div>

  <%= render(Admin::PersonSearchComponent.new(form_url: admin_work_work_people_text_searches_path(work_id: @work.id))) %>

  <div class="mt-2 flex gap-2">
    <%= snm_link "戻る", href: admin_work_path(id: @work.id), button_style: 'secondary' %>
  </div>
</div>
