<div class="w-full md:w-2/3">
  <snm-headline h="h1">分類番号更新</snm-headline>
  <%= render 'form', bibclass: @bibclass %>

  <div class="mt-5 flex">
    <%= tag.snm_link '戻る', href: admin_work_path(@bibclass.work), buttonStyle: "secondary" %>
  </div>
</div>
