<div class="w-full md:w-2/3">
  <%= snm_headline h: 'h1' do %>分類番号追加<% end %>
  <%= render 'form', bibclass: @bibclass %>

  <div class="mt-5 flex">
    <%= snm_link '戻る', href: admin_work_path(@bibclass.work), button_style: "secondary" %>
  </div>
</div>
