<div class="justify-center items-center bg-blue-50 content-center w-screen">
  <div class="px-8 max-w-6xl mx-auto">
    <div class="flex justify-end text-base">
      ●<a href="https://www.aozora.gr.jp/" class="link-normal">トップ</a>　●<a href="/" class="link-normal">作業着手連絡システム</a>　●<span class="text-red-500 font-semibold">入力受付システム</span>
    </div>
    <div class="flex justify-center bg-yellow-100 py-3 border-t-2 border-b-2 border-gray-400">
      <h1 class="text-3xl font-semibold">入力受付システム：必要事項の記入</h1>
    </div>
    <div class="border-2 border-gray-500 my-4 mx-12 p-4 bg-yellow-100 text-base">
      <ul class="my-2 mx-8 list-disc text-base">
        <li><span class="text-red-500">（必須）</span>は必ず入力してください。<span class="text-red-500">（必須）</span>以外は、わかる範囲で入力してください。</li>
        <li>「入力者データ」、「著者データ」では、まず<a href="../idlists" class="link-normal" target="_blank">「ID一覧インデックス」</a>の工作員ID一覧、人物ID一覧を参照して、IDを入力してください。IDが記入できれば、<font color="#ff0000">（必須）</font>を含む、「入力者データ」、「著者データ」のその他の項目は必要はありません。IDが確認できない場合に限り、各項目欄に記入してください。<br>
          <li>「底本データ」「作品データ」は、必ず記入してください。</li>
          <li>「著者データ」「作品データ」のとりかたを、<a href="https://www.aozora.gr.jp/metadata_collection/index.html" class="link-normal" target="_blank">「青空文庫における書誌データのとりかた」</a>で、詳しく説明しています。</li>
          <li>「備考」「作品について」は、2000文字（原稿用紙5枚分）以内で記入してください。全角／半角とも、１文字として計算します。「記入事項の確認」画面で末尾が切れている場合は、2000文字以内に書き直すか、reception@aozora.gr.jpにメールで送ってください。</li>
          <li>入力が終わったら、一番下の「確認」ボタンを押してください。「記入事項の確認」画面が現れます。誤りが無いことを確認してから、「登録」ボタンを押してください。</li>
          <li>中止する場合は、「確認」ボタンを押さずにブラウザを閉じてください。</li>
        </ul>
    </div>
    <%= render 'receipts/form', receipt_form: @receipt_form %>
  </div>
</div>
