<div class="w-full">
  <%= snm_headline h: 'h1' do %>人物検索結果一覧<% end %>

  <%= render(Admin::PeopleTableComponent.new(pagy: @pagy, people: @people)) %>

  <div class="py-2">
    <%== pagy_snm_nav(@pagy) %>
  </div>
  <div class="mt-5 flex">
    <%= snm_link '新規人物登録', href: new_admin_person_path %>
  </div>
</div>
