<div class="w-full">
  <snm-headline h="h1">人物検索結果一覧</snm-headline>

  <%= render(Admin::PeopleTableComponent.new(pagy: @pagy, people: @people)) %>

  <%== pagy_snm_nav(@pagy) %>

  <div class="mt-5 flex">
    <%= tag.snm_link '新規人物登録', href: new_admin_person_path %>
  </div>
</div>
