<div class="w-full md:w-2/3">
  <snm-headline h="h1">関連サイト更新</snm-headline>
  <%= render 'form', site: @site %>

  <div class="mt-5 flex">
    <%= snm_link '戻る', href: admin_site_path(@site), button_style: "secondary" %>
  </div>
</div>
