<div class="w-full md:w-2/3">
  <snm-headline h="h1">関連サイト</snm-headline>

  <div class="mt-10">
    <snm-headline h="h2">関連サイト検索</snm-headline>
    <%= render(Admin::SiteSearchComponent.new(form_url: admin_sites_text_searches_path)) %>
  </div>
</div>

<div class="mt-10 mb-5">
  <snm-headline h="h2">関連サイト一覧</snm-headline>
  <%= render(Admin::SnmTableComponent.new(
      header: %w(ID サイト名 URL),
      body: @sites.map do |site|
      [site.id,
      link_to(site.name, admin_site_path(site), class: 'underline'),
      site.url,
      ]
      end
      )) %>
</div>

<div class="mt-5 flex">
  <snm-link label="関連サイト新規登録" href="<%= new_admin_site_path %>"></snm-link>
</div>
