<div class="flex flex-col gap-5">
  <snm-headline h="h2">関連サイト</snm-headline>

  <%= render(Admin::SnmTableVComponent.new(rows:
      [
        ["関連サイト名", @site.name],
        ["関連サイト運営者", @site.site_secret&.owner_name],
        ["email", @site.site_secret&.email],
        ["URL", link_to(@site.url, @site.url)],
        ["備考(非公開)", @site.site_secret&.memo],
        ["最終更新日", @site.updated_at],
        ["更新者", @site.updated_user.username]
      ])) %>

  <div class="mt-2 flex gap-2">
    <%= tag.snm_link "更新", href: edit_admin_site_path(@site) %>
    <%= tag.snm_link "戻る", href: admin_sites_path, buttonstyle: "secondary" %>
  </div>
</div>
